@use './variables' as *;

// about
.about-section {
    background: $lightAccent3;
    color: $paragraphDark;
    text-align: center;
}
// skills
.skills-section {
    background: $accent1;

    .skill-container {

        h3, h5{
            color: $lightAccent1;
            white-space: nowrap;
        }

        ul {
            display: flex;
            column-gap: 6vw;
            flex-wrap: wrap;
            justify-content: center;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                // divides the space evenly amoung the 8 icons
                width: calc(100% / 8);
                margin: 5px;

                .icon-container {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 100%;
                    }
                }
            }
        }
    }


}