@use './variables' as *;

.contact-section {
    background: $accent1;

   .info-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: $padding-gaps;

    .contact-link-container {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-wrap: anywhere;

        img{
            width: 1.2rem;
            margin: 0 10px;
        }
    }
   }

   button {
    background: $lightAccent6;
    padding: 10px;
   }
}