@use './variables' as *;

.contact-section {
    background: $accent3;

   .info-container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: $padding-gaps;

    .contact-link-container {
        display: flex;
        justify-content: center;
        text-align: center;
        overflow-wrap: anywhere;
        // social icons
        .social-links svg {
            width: 2rem;
        }

        svg {
            fill: $lightAccent3;
            margin: 0 10px;
            // just for clipboard icon
            width: 1.5rem;
        }

        a {
            color: $paragraphDark;
            font-family: $paragraph-font;
        }
    }
   }

   .copy-icon {
    .clipboard-tooltip {
            display: none;
        }
   }

   .button-container {
    background: $lightAccent3;
    padding: 10px;

        a {
            color: $paragraphDark;
        }
   }

   .button-container:hover, .button-container:active {
    background: $midAccent3;
   }
    // hover styles
   .copy-icon:hover, .copy-icon:active, .social-links:hover, .social-links:active {
        a {
            color: $paragraghMidColor;
            text-decoration: underline;
        }
        p {
            color: $paragraghMidColor;
        }
        svg {
            fill: $midAccent3;
        }
   }

   .copy-icon:hover {
        position: relative;

        .clipboard-tooltip {
            display: inline-flex;
            position: absolute;
            top: -110%;
            right: 0;
            background: $lightAccent3;
            opacity: 0.75;
            font-size: 0.8rem;
            align-items: center;
            padding: 6px;
        }
   }
}