/* #region - colors */
    $paragraphDark: #001610;
    $paragraghMidColor: hsl(164 100 15);
    /* #region - green */
    $accent1: #035b53;
    $lightAccent1: #e2f5ea;

    /* #endregion - green */
    /* #region - red */
    $accent2: hsl(9 72 57);
    $midAccent2: hsl(9 72 95);
    $lightAccent2: hsl(9 72 98);
    /* #endregion - red */

    /* #region - yellow */
    $accent3: hsl(39 95 67);
    $midAccent3: hsl(40 92 90);
    $lightAccent3: hsl(36 100 98);
    /* #endregion - yellow */

/* #endregion - colors */

/* #region - fonts */
$headings-font: Poiret One,
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
$paragraph-font: 'Fauna One',
    serif;
// $paragraph-font: century-gothic,
//     sans-serif;
/* #endregion - fonts */

/* #region - heights an widths */
$navHeight: 6vh;
$padding-gaps: 30px;
/* #endregion - heights an widths */