@use './setup';
@use './variables' as *;
@use './header-footer';
@use './about-skills';
@use './projects';
@use './contact';

/* #region re-set styles */
html {
    font-size: 125%;
    background: $paragraphDark
}

.main-sections {
    // accounts for fixed header nav on anchor scroll
    scroll-margin-top: $navHeight;
    padding: $padding-gaps 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    max-width: 1080px;
    width: 80%;
    // height:100%;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

a, button, input, textarea {
    background: none;
    border:none;
    text-decoration: none;
    font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure {
    margin: 0;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

/* #endregion re-set styles */

 h1,
 h3,
 h4,
 a,
 button {
     font-family: $headings-font;
 }

 h2,
 h5,
 h6,
 p,
 li,
 input,
 textarea,
 ::placeholder{
    font-family: $paragraph-font;
 }

h2,
p,
::placeholder {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

h3 {
font-size: 2rem;
padding-bottom: $padding-gaps ;
}

h4 {
font-size: 1.5rem;
}

h5 {
font-size: 0.8rem;
}

h6 {
    font-size: 0.6rem;
}

li {
font-size: 1rem;
}
